body {
    text-align: center;
}

#output {
    border: 1px solid black;
    padding: 1%;
    margin: 2% 40%;
    font-size: 2rem;
    text-align: center;
    overflow: scroll;
}

#buttons {
    margin-top: 1rem;
}